* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background-color: #1b1b1b;
  color: #fff;
}

#fireworksCanvas {
  width: 90%;
  height: 90%;
  cursor: crosshair;
}
